body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:648px;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u592 {
  position:fixed;
  left:0px;
  top:0px;
}
#u592_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
  background-image:none;
}
#u592_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u593_ann {
  border-width:0px;
  position:absolute;
  left:368px;
  top:-4px;
  width:1px;
  height:1px;
}
#u595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:8px;
  width:68px;
  height:34px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:8px;
  width:68px;
  height:34px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:100px;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:99px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#666666;
  text-align:right;
}
#u599_img.mouseDown {
}
#u599.mouseDown {
}
#u600 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:149px;
  width:375px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
.u604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:87px;
}
.u604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:87px;
}
.u605 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u603-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:87px;
}
#u603-2 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:0px;
  width:87px;
  height:87px;
}
#u603-3 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:0px;
  width:87px;
  height:87px;
}
#u603-4 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:0px;
  width:87px;
  height:87px;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:56px;
  width:363px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:46px;
}
.u607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  font-size:16px;
  text-align:left;
}
.u608 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:12px;
  width:359px;
  word-wrap:break-word;
}
.u609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:46px;
}
.u609 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:295px;
  height:45px;
  color:#999999;
  text-align:right;
}
.u610 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:15px;
  width:225px;
  word-wrap:break-word;
}
#u606-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
}
#u606-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:375px;
  height:45px;
}
#u606-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:375px;
  height:45px;
}
#u606-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:135px;
  width:375px;
  height:45px;
}
#u606-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:375px;
  height:45px;
}
#u606-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:225px;
  width:375px;
  height:45px;
}
#u606-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:375px;
  height:45px;
}
#u606-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:315px;
  width:375px;
  height:45px;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:189px;
  width:375px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:159px;
  width:50px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:3px;
  width:48px;
  word-wrap:break-word;
}
#u614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:159px;
  width:50px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:3px;
  width:48px;
  word-wrap:break-word;
}
#u616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:159px;
  width:50px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:3px;
  width:48px;
  word-wrap:break-word;
}
#u618 {
  position:absolute;
  left:330px;
  top:158px;
  visibility:hidden;
}
#u618_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background-image:none;
}
#u618_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u618_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  visibility:hidden;
  background-image:none;
}
#u618_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  font-size:14px;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:39px;
  word-wrap:break-word;
}
#u623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:41px;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:607px;
  width:187px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:41px;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:607px;
  width:188px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:184px;
  word-wrap:break-word;
}
#u625_ann {
  border-width:0px;
  position:absolute;
  left:368px;
  top:603px;
  width:1px;
  height:1px;
}
