body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:648px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823 {
  position:fixed;
  left:0px;
  top:0px;
}
#u823_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:81px;
  background-image:none;
}
#u823_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:8px;
  width:68px;
  height:34px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:8px;
  width:68px;
  height:34px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:31px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FF0000;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  word-wrap:break-word;
}
#u830_ann {
  border-width:0px;
  position:absolute;
  left:368px;
  top:46px;
  width:1px;
  height:1px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:52px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:596px;
  width:375px;
  height:51px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:606px;
  width:32px;
  height:31px;
  font-size:20px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  word-wrap:break-word;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:606px;
  width:32px;
  height:31px;
  font-size:12px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:28px;
  word-wrap:break-word;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:34px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:606px;
  width:252px;
  height:33px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
.u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:34px;
}
.u842 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:22px;
  width:240px;
  height:33px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
.u843 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:236px;
  word-wrap:break-word;
}
.u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
.u844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:40px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
.u845 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  word-wrap:break-word;
}
.u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:34px;
}
.u846 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:67px;
  width:240px;
  height:33px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
.u847 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:236px;
  word-wrap:break-word;
}
.u848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
.u848 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:67px;
  width:40px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
.u849 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  word-wrap:break-word;
}
.u850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:15px;
}
.u850 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:0px;
  width:67px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
.u851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u841-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:107px;
}
#u841-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:107px;
  width:355px;
  height:107px;
}
#u841-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:214px;
  width:355px;
  height:107px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:90px;
  width:355px;
  height:321px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:101px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:647px;
  width:375px;
  height:100px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
.u856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:76px;
  word-wrap:break-word;
}
#u855-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u855-2 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:0px;
  width:80px;
  height:80px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:657px;
  width:170px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u855_ann {
  border-width:0px;
  position:absolute;
  left:175px;
  top:653px;
  width:1px;
  height:1px;
}
