body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:648px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1222 {
  position:absolute;
  left:10px;
  top:130px;
}
#u1222_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
  background-image:none;
}
#u1222_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u1222_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
  visibility:hidden;
  background-image:none;
}
#u1222_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u1222_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
  visibility:hidden;
  background-image:none;
}
#u1222_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u1222_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
  visibility:hidden;
  background-image:none;
}
#u1222_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u1222_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
  visibility:hidden;
  background-image:none;
}
#u1222_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u1222_state5 {
  position:relative;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
  visibility:hidden;
  background-image:none;
}
#u1222_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u1235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:46px;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:284px;
  width:355px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:351px;
  word-wrap:break-word;
}
#u1237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u1239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:8px;
  width:68px;
  height:34px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:80px;
  width:355px;
  height:40px;
}
#u1241_input {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:190px;
  width:355px;
  height:40px;
}
#u1242_input {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:130px;
  width:238px;
  height:40px;
}
#u1243_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u1244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:19px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:236px;
  width:198px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
