body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:648px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:8px;
  width:68px;
  height:34px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
.u791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:91px;
}
.u791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:90px;
}
.u792 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:23px;
}
.u793 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:13px;
  width:33px;
  height:22px;
  font-size:16px;
}
.u794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
.u795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:14px;
}
.u795 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:61px;
  width:117px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
.u796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
.u797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
}
.u797 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:13px;
  width:65px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
.u798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
.u799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
.u799 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:70px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
}
.u800 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:66px;
  word-wrap:break-word;
}
.u801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
.u801 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:4px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
.u802 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u790-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:90px;
}
#u790-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:375px;
  height:90px;
}
#u790-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:375px;
  height:90px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u804 {
  position:fixed;
  left:0px;
  top:602px;
}
#u804_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:46px;
  background-image:none;
}
#u804_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:46px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u805_img.selected {
}
#u805.selected {
}
#u806 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:90px;
  word-wrap:break-word;
}
#u807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:46px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:0px;
  width:94px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u807_img.selected {
}
#u807.selected {
}
#u808 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:90px;
  word-wrap:break-word;
}
#u809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:46px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:0px;
  width:94px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u809_img.selected {
}
#u809.selected {
}
#u810 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:90px;
  word-wrap:break-word;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:46px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:0px;
  width:94px;
  height:45px;
  font-family:'NewPeninimMT', 'New Peninim MT';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u811_img.selected {
}
#u811.selected {
}
#u812 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:90px;
  word-wrap:break-word;
}
#u813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:4px;
  width:7px;
  height:12px;
  font-size:14px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:4px;
  width:7px;
  height:12px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:4px;
  width:7px;
  height:12px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:4px;
  width:7px;
  height:12px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
