body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:648px;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u1134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:8px;
  width:68px;
  height:34px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u1136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:8px;
  width:68px;
  height:34px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u1136_ann {
  border-width:0px;
  position:absolute;
  left:356px;
  top:4px;
  width:1px;
  height:1px;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:96px;
}
.u1140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:95px;
  font-size:72px;
}
.u1141 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:55px;
}
.u1142 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:33px;
  width:360px;
  height:54px;
  color:#666666;
}
.u1143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
.u1144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:21px;
}
.u1144 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:7px;
  width:77px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
.u1145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
.u1146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
}
.u1146 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:7px;
  width:79px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u1147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u1139-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:95px;
}
#u1139-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:375px;
  height:95px;
}
#u1139-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:375px;
  height:95px;
}
#u1139-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:285px;
  width:375px;
  height:95px;
}
#u1139-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:380px;
  width:375px;
  height:95px;
}
#u1139-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:475px;
  width:375px;
  height:95px;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:570px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1139_ann {
  border-width:0px;
  position:absolute;
  left:368px;
  top:46px;
  width:1px;
  height:1px;
}
