body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:648px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  color:#FFFFFF;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u1053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:8px;
  width:68px;
  height:34px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u1055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:8px;
  width:68px;
  height:34px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u1057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:46px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:45px;
  font-size:17px;
  color:#FFFFFF;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u1057_ann {
  border-width:0px;
  position:absolute;
  left:368px;
  top:46px;
  width:1px;
  height:1px;
}
.u1060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
}
.u1060 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:10px;
  width:85px;
  height:30px;
}
.u1061 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
.u1062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
.u1062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
.u1063 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:363px;
  word-wrap:break-word;
}
#u1059-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u1059-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:50px;
}
#u1059-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:375px;
  height:50px;
}
#u1059-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:375px;
  height:50px;
}
#u1059-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:375px;
  height:50px;
}
#u1059-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:375px;
  height:50px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:375px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1059_ann {
  border-width:0px;
  position:absolute;
  left:368px;
  top:91px;
  width:1px;
  height:1px;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:31px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:445px;
  width:375px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:363px;
  word-wrap:break-word;
}
#u1066_ann {
  border-width:0px;
  position:absolute;
  left:368px;
  top:441px;
  width:1px;
  height:1px;
}
#u1068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:44px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:475px;
  width:375px;
  height:43px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#000000;
  text-align:left;
}
#u1068_img.selected {
}
#u1068.selected {
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u1068_ann {
  border-width:0px;
  position:absolute;
  left:368px;
  top:471px;
  width:1px;
  height:1px;
}
#u1070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:44px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:518px;
  width:375px;
  height:43px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#000000;
  text-align:left;
}
#u1070_img.selected {
}
#u1070.selected {
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u1070_ann {
  border-width:0px;
  position:absolute;
  left:368px;
  top:514px;
  width:1px;
  height:1px;
}
#u1072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:44px;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:561px;
  width:375px;
  height:43px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u1072_img.selected {
}
#u1072.selected {
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:363px;
  word-wrap:break-word;
}
#u1072_ann {
  border-width:0px;
  position:absolute;
  left:368px;
  top:557px;
  width:1px;
  height:1px;
}
#u1074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:574px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#FF0000;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:44px;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:604px;
  width:375px;
  height:43px;
  font-size:17px;
  color:#FFFFFF;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u1076_ann {
  border-width:0px;
  position:absolute;
  left:368px;
  top:600px;
  width:1px;
  height:1px;
}
