body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:648px;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  color:#FFFFFF;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738 {
  position:fixed;
  left:0px;
  top:0px;
}
#u738_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
  background-image:none;
}
#u738_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
.u742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:151px;
}
.u742 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
}
.u742_img.mouseDown {
}
.u742.mouseDown {
}
.u743 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:68px;
  width:371px;
  word-wrap:break-word;
}
.u742_ann {
  border-width:0px;
  position:absolute;
  left:368px;
  top:-4px;
  width:1px;
  height:1px;
}
.u744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u744 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:50px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
.u745 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
.u746 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
.u748 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:56px;
  width:70px;
  height:70px;
}
.u749 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
.u750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
.u750 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:56px;
  width:70px;
  height:70px;
}
.u751 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
.u752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
.u752 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:56px;
  width:70px;
  height:70px;
}
.u753 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
.u754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
.u754 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:56px;
  width:70px;
  height:70px;
}
.u755 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
.u756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:41px;
}
.u756 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:10px;
  width:297px;
  height:40px;
  font-size:14px;
  color:#666666;
}
.u757 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
.u758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
}
.u758 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:70px;
  width:44px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
.u759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
.u760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
}
.u760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:125px;
  height:30px;
}
.u760_img.mouseDown {
}
.u760.mouseDown {
}
.u761 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
.u762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
}
.u762 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:150px;
  width:125px;
  height:30px;
}
.u762_img.mouseDown {
}
.u762.mouseDown {
}
.u763 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
.u764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
}
.u764 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:150px;
  width:125px;
  height:30px;
}
.u764_img.mouseDown {
}
.u764.mouseDown {
}
.u765 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u741-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
}
#u741-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:375px;
  height:180px;
}
#u741-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:375px;
  height:180px;
}
#u741-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:540px;
  width:375px;
  height:180px;
}
#u741-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:720px;
  width:375px;
  height:180px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:900px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u767 {
  position:fixed;
  left:0px;
  top:602px;
}
#u767_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:46px;
  background-image:none;
}
#u767_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:46px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u768_img.selected {
}
#u768.selected {
}
#u769 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:90px;
  word-wrap:break-word;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:46px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:0px;
  width:94px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u770_img.selected {
}
#u770.selected {
}
#u771 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:90px;
  word-wrap:break-word;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:46px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:0px;
  width:94px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u772_img.selected {
}
#u772.selected {
}
#u773 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:90px;
  word-wrap:break-word;
}
#u774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:46px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:0px;
  width:94px;
  height:45px;
  font-family:'NewPeninimMT', 'New Peninim MT';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u774_img.selected {
}
#u774.selected {
}
#u775 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:90px;
  word-wrap:break-word;
}
#u776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:4px;
  width:7px;
  height:12px;
  font-size:14px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:4px;
  width:7px;
  height:12px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:4px;
  width:7px;
  height:12px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:4px;
  width:7px;
  height:12px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
